<div class="copipe">
  <div class="title">
    <%= copipe.title %>
  </div>
  <% if copipe.anonymous? %>
    <%= t(:anonymous) %>
  <% else %>
    <%= copipe.user_id%>
  <% end %>
  <div class="well">
    <%= format_article(copipe.body) %>
  </div>
</div>
