//AAに適したもの
.aable-font(){
  font-family: "ＭＳ Pゴシック",sans-serif;
  line-height: normal;
  font-size: 16px;
}

.article_body{
  .aable-font();
  textarea{
    .aable-font();
    width: 650px;
  }
}

.well{
  background: #EFEFEF;
}
